/* Header Container Styling */
.app-header {
  align-items: center;
  background-color: rgb(20, 20, 20);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 60px;
  padding: 10px 20px;
}

.logo {
  align-items: center;
  display: flex;
}

.logo-image {
  height: 56px;
  margin-right: 10px;
}
